



.next {

     text-align: center;
     font-weight: bold;

}


.page {

    margin-top: 5vh;
 
   width: 380px;
  
     float: left;
     
     
  

     border-radius: 25px;
     margin-bottom: 10px;


}







@media (max-width: 850px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
    

.page {


}



.top,
.page,
.bottom {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
         width: 98vw;
height: 98vh;
  margin-left: 1vw;
  margin-right: 1vw;
    margin-top: 1vh;
  margin-bottom: 1vh;

}




  


}